.container {
    padding-top: 60px;
}

tbody tr {
    font-weight: normal;
    text-shadow: #fff 0 1px 0px;
    background-color: #f4f4f4;
}

tbody tr:nth-child(2n) {
    background-color: #eaeaea;
}

th {
    background-color: #656565;
    font-weight: normal;
    font-size: 15px;
    padding: 0 10px;
    color: #fff;
    text-shadow: #414141 0 1px 0px;
    line-height: 40px;
}
