<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <div class="row-fluid"
         th:with="item = ${user}"
         th:object="${item}">

        <h1 th:text=" ${item.login + ' edit'}">User edit</h1>

        <form role="form" action="/updateuser" method="post">

            <div class="form-group row">
                <div class="col-12">
                    <input name="userid" type="hidden"
                           th:value=" ${item.userID}"/>
                    <input name="userlogin" class="form-control" id="inputLogin" placeholder="Login" value="User Login" required="true" autofocus="" type="text"
                           th:value=" ${item.login}"/>
                    <input name="userpassword" class="form-control" id="inputPassword" placeholder="Password" value="User pass" required="true" autofocus="" type="text"
                           th:value=" ${item.password}"/>
                    <input name="userdescription" class="form-control" id="inputDescription" placeholder="Description" value="User description" required="true" autofocus="" type="text"
                           th:value=" ${item.description}"/>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Accept</button>
                <!-- TODO: fix delete -->
                <button type="button" th:onclick="'deleteUser(' + ${item.userID} + ')'" class="btn btn-danger">Delete</button>
                <button type="button" th:onclick="'cancelEditUser()'" class="btn">Cancel</button>
            </div>
        </form>
    </div>

</body>